name: My First Workflow

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print message
        run: 
            echo "What are you doing these days"
            echo "GitHub Actions is working!"
