name: My First Workflow

on:
    push:
        branches:
            - main

jobs:
    build:
       runs-on: ubuntu-latest
       steps:
        - name: Resetting everything
          run: git reset --hard HEAD~3
        