name: My First Workflow

on:
    push:
        branches:
            - main

jobs:
    build:
       runs-on: ubuntu-latest
       defaults:
        run:
          working-directory: server
            
       steps:
        - name: saving repo
          uses: actions/checkout@v3
        
        
        
        - name: Login to Docker Hub
          uses: docker/login-action@v2
          with:
            username: ${{ secrets.DOCKER_USERNAME }}
            password: ${{ secrets.DOCKER_PASSWORD }}
          
        - name: Creating docker image
          run: docker build -t dockerized  ./server
        
        - name: Build and push image
          uses: docker/build-push-action@v5
          with:
            push: true
            tags: sreyansh1/express-app:latest
        
        